<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="ChatService" address="net.tcp://61.147.119.252:22222/ChatService" behaviorConfiguration="SslNetTcpClientBehavior"
                binding="netTcpBinding" bindingConfiguration="SslDuplexTcpBinding" contract="IChatService">
        <identity>
          <dns value="_9258ChatService"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="SslDuplexTcpBinding" openTimeout="00:05:00" sendTimeout="00:05:00" receiveTimeout="00:05:00" transferMode="Buffered" maxBufferSize="1024000000" maxReceivedMessageSize="1024000000" portSharingEnabled="true">
          <reliableSession enabled="true" ordered="true"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SslNetTcpClientBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
