<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="RoomServiceIp" value="61.147.119.252"/>
	</appSettings>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="RoomService.log"/>
			<!-- Example using environment variables in params -->
			<!-- <file value="${TMP}\log-file.txt" /> -->
			<appendToFile value="true"/>
			<!-- An alternate output encoding can be specified -->
			<!-- <encoding value="unicodeFFFE" /> -->
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]"/>
				<footer value="[Footer]"/>
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
			</layout>
			<!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
		<logger name="RoomServiceLogger">
			<level value="ALL"/>
			<appender-ref ref="LogFileAppender"/>
		</logger>
	</log4net>
	<system.serviceModel>
		<services>
			<service name="RoomService" behaviorConfiguration="SslServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://61.147.119.252:33333/RoomService/"/>
					</baseAddresses>
				</host>
				<endpoint binding="netTcpBinding" address="" bindingConfiguration="SslDuplexTcpBinding" contract="YoYoStudio.RoomService.Library.IRoomService">
					<identity>
						<dns value="_9258RoomService"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="netTcpBinding" bindingConfiguration="mexBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<client>
			<endpoint name="ChatService" address="net.tcp://61.147.119.252:22222/ChatService" behaviorConfiguration="SslNetTcpClientBehavior"
                binding="netTcpBinding" bindingConfiguration="SslDuplexTcpBinding" contract="IChatService">
				<identity>
					<dns value="_9258ChatService"/>
				</identity>
			</endpoint>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="SslDuplexTcpBinding" openTimeout="00:05:00" sendTimeout="00:05:00" receiveTimeout="00:05:00" transferMode="Buffered" maxBufferSize="1024000000" maxReceivedMessageSize="1024000000" portSharingEnabled="true">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
					<reliableSession enabled="true" ordered="true"/>
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
				<binding name="mexBinding" portSharingEnabled="true" >
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="SslServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceMetadata />
					<serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000"/>
					<serviceCredentials>
						<serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName" findValue="_9258RoomService"/>
					</serviceCredentials>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="SslNetTcpClientBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>