<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataService" maxBufferSize="1024000000"
          maxReceivedMessageSize="1024000000">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IDataService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://61.147.119.252/DataService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService"
        contract="IDataService" name="DataService" />
      <endpoint address="https://localhost/DataService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService1"
        contract="Generated.IDataService" name="BasicHttpBinding_IDataService" />
    </client>
  </system.serviceModel>	
</configuration>